<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="config.MethodListener" />
	</listeners>
	<test name="TestChrome">
		<parameter name="browser" value="chrome" />
		<parameter name="ip" value="192.168.191.36" />
		<parameter name="port" value="4446" />
		<packages>
			<package name = "catalog" />
		</packages>
	</test>
</suite>